<div class="container mtb">
	 	<div class="row">
	 	
	 		<! -- BLOG POSTS LIST -->
	 		<div class="col-lg-12" style="margin:auto;position:relative;">
				<h1><%=@book.name%></h1>
				<%
					options = "<option>#{@book.grade}</option>"
					@book.book_versions.each do |b|
						options =  options + "<option>#{b.grade}</option>"
					end
				%>
				<div id ="level-changer" style="overflow:hidden;right: 33px;
top: 28px;">
					 <%=select_tag "version_grade", options.html_safe , :class=>"form-control",:style=>"width:100px;float:left;"%><%=submit_tag "Change Level",:class=>"btn btn-theme",:style=>"margin-top:0px;"%>
				</div>
				<div id="book_content_child_view" style="font-size:16px;">
					<%=raw(@book.content)%>
				</div>
			</div>
		</div>


		<%=link_to "Next >" ,"/books/#{@book.id}/book_questions/#{@child.id}",:class=>"btn btn-theme pull-right"%>
</div>